@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

body {
  font-family: "Marcellus", serif;
  font-size: larger;
}

p {
  margin-bottom: 2rem;
}

.post-title {
  margin-bottom: 4rem;
}

.lyrics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  white-space: pre-line;
}

.info {
    text-align: justify;
}

@media (max-width: 600px) {
  .lyrics {
    grid-template-columns: 1fr;
  }
}

iframe {
    max-width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.reversefootnote {
  display: inline !important;
  visibility: visible !important;
}

.footer-col-wrapper {
  display:flex
}

/*damit prozentzahlen die boxen miteinberechnen:*/
.footer-col {
  box-sizing: border-box;
}

.footer-col-1 {
  width: 30%;
}

.footer-col-2 {
  width: 30%;
}

.footer-col-3 {
  width: 35%;
}