.lyrics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  white-space: pre-line;
}

.info {
    text-align: justify;
}

@media (max-width: 600px) {
  .lyrics {
    grid-template-columns: 1fr;
  }
}

iframe {
    max-width: 100%;
    margin-top: 3rem;
}

.reversefootnote {
  display: inline !important;
  visibility: visible !important;
}